---
import MainLayout from "../../layouts/main-layout.astro";
import { getPosts } from "../../api/posts";

const posts = await getPosts();
console.log("slug.astro:", posts);
console.log("slug.astro - Slug param:", Astro.params.slug);
const {slug} = Astro.params;
const post = posts.find((post) => post.slug === slug);

// if (!post) {
//     return {
//         status: 404,
//         title: "Not Found",
//         body: "Post not found"
//     };
// }

if (!post) {
    throw new Error("Post not found");
}

const {title, description} = post;
---

<MainLayout>
 <article>
    <h1 >{post.title}</h1>
    <p >{post.description}</p>
 </article>
</MainLayout>