---
import MainLayout from "../../layouts/main-layout.astro";
// import {getCollection} from "astro:content";
// import type Slug from "./pages/posts/[slug].astro";
import { getPosts } from "../../api/posts";

// get post from getPosts api
const posts = await getPosts();
console.log("index getPosts:", posts);
const {slug} = Astro.params;
const post = posts.find((post) => post.slug === slug);
console.log('slug post:', slug);
//Filter funsiesx
// const funsiePost = posts.filter(posts => posts.categories === "funsies")

---

<MainLayout title="astro blog">
<section>
    <h1>Funsies</h1>
    <ul>
        {posts.map((post) => (
            <li>
                <a href={`/posts/${post.slug}`}>{post.title}</a>
            </li>
        ))}
    </ul>
</section>
</MainLayout>